@media screen and (min-width: 1300px) {
  #aside-content {
    padding-left: 1rem;
    animation: slide-in 0.6s 0.3s backwards;
  }

  #aside-content .card-widget {
    margin-top: 1rem;
  }

  #aside-content .card-info .card-info-social-icons i {
    color: var(--xingzhi-white);
  }

  #aside-content .sticky_layout {
    top: calc(60px + 1rem);
  }

  #aside-content .sticky_layout {
    margin-top: 1rem;
  }

  #aside-content .card-widget {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 768px) {
  #aside-content .sticky_layout {
    margin-top: 1rem;
  }

  .card-allinfo .card-tag-cloud {
    max-height: 500px;
    overflow: hidden;
    position: relative;
  }
}

@media screen and (min-width: 900px) {
  #aside-content .sticky_layout {
    position: sticky;
    top: 20px;
    transition: top 0.3s ease 0s;
  }
}

.card-tag-cloud.all-tags {
  max-height: none;
}

#aside-content .item-headline + div,
#aside-content .item-headline + ul {
  padding: 0;
  -webkit-user-select: none;
}

#aside-content .item-headline span {
  margin-left: 4px;
}

#aside-content .item-headline i {
  min-width: 19.5px;
  font-size: 18px;
}

#aside-content .card-widget {
  box-shadow: var(--xingzhi-shadow-border);
  background: var(--xingzhi-card-bg);
  border: var(--style-border);
  transition: 0.3s;
  border-radius: 12px;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
  padding: 1rem 1.2rem;
}

#aside-content .card-allinfo .item-headline {
  display: none;
}

.card-allinfo .item-headline {
  display: none;
}

#aside-content .item-headline {
  padding-bottom: 0;
  margin-left: 8px;
  font-size: 1em;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.page .sticky_layout {
  display: flex;
  -webkit-box-orient: vertical;
  flex-direction: column;
}

#aside-content .sticky_layout .card-widget:first-child {
  margin-top: 0;
}

#aside-content > .card-widget.card-info {
  background: var(--xingzhi-card-bg);
  box-shadow: var(--xingzhi-shadow-black);
  position: relative;
}

#aside-content > .card-widget:first-child {
  transition: 0.3s;
  border: none;
  box-shadow: none;
  background: var(--xingzhi-main);
  margin-top: 0;
}

#aside-content .card-widget {
  box-shadow: var(--xingzhi-shadow-border);
  background: var(--xingzhi-card-bg);
  border: var(--style-border);
  transition: 0.3s;
  border-radius: 12px;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
  padding: 1rem 1.2rem;
}

.card-widget.card-info {
  padding: 0 !important;
}

#aside-content > .card-widget.card-info::before {
  background: linear-gradient(
    -25deg,
    var(--xingzhi-main),
    var(--xingzhi-main-op-deep),
    var(--xingzhi-main),
    var(--xingzhi-main-op-deep)
  );
  background-size: 400%;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: "";
  animation: gradient 15s ease infinite;
}

#aside-content > .card-widget.card-info {
  background: var(--xingzhi-card-bg);
  box-shadow: var(--xingzhi-shadow-black);
  position: relative;
}

#aside-content > div.card-widget.card-info > div.card-content {
  padding: 1rem 1.2rem;
  min-height: 320px;
  height: 320px;
  position: relative;
  user-select: none;
}

#aside-content > .card-widget.card-info::before {
  background: linear-gradient(
    -25deg,
    var(--xingzhi-main),
    var(--xingzhi-main-op-deep),
    var(--xingzhi-main),
    var(--xingzhi-main-op-deep)
  );
  background-size: 400%;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: "";
  animation: gradient 15s ease infinite;
}

.card-info-avatar.is-center {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
}

.is-center {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.author-info__top-group {
  display: flex;
  height: 28px;
  width: 100%;
}

div#author-info__sayhi {
  text-align: center;
  width: fit-content;
  color: var(--xingzhi-white);
  background: var(--xingzhi-white-op);
  font-size: 12px;
  margin-right: auto;
  padding: 2px 8px;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
  transition: 0.3s;
  margin: auto;
  min-width: 100px;
}

.avatar-img-group {
  width: 118px;
  height: 118px;
  min-width: 118px;
  min-height: 118px;
  right: calc(50% - 59px);
  top: 90px;
  border-radius: 500px;
  position: absolute;
  transition: cubic-bezier(0.69, 0.39, 0, 1.21) 0.3s;
  transform-origin: bottom;
}

.page #aside-content .card-info .avatar-img {
  border-color: var(--xingzhi-card-bg);
  /* border-color: var(--style-border-avatar); */
}

#aside-content .card-info .avatar-img {
  width: 118px;
  height: 118px;
  right: 0;
  top: 0;
  border-radius: 500px;
  position: absolute;
  opacity: 1;
  transition: 0.3s;
  border: 5px solid var(--xingzhi-white);
  overflow: hidden;
}

.page .avatar-sticker {
  background: var(--xingzhi-card-bg);
}

.avatar-sticker {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 33px;
  height: 33px;
  line-height: 34px;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s 0.2s;
  transform: scale(1);
  background: var(--xingzhi-white);
  border-radius: 50%;
}

.avatar-sticker img {
  width: 26px;
  height: 26px;
}

.author-info__description_group {
  position: absolute;
  top: 50px;
  width: 100%;
  left: 0;
  padding: 1.2rem;
  opacity: 0;
  transition: 0.3s;
}

#aside-content .card-info .author-info__description {
  line-height: 1.38;
  margin: 0.6rem 0;
  text-align: justify;
  /* color: rgba(255, 255, 255, 0.8); */
  font-size: 16px;
}

.page .author-info__description {
  color: var(--xingzhi-card-bg);
}

.author-info__description {
  line-height: 1.38;
  margin: 0.3rem 0;
  text-align: justify;
  color: var(--xingzhi-white);
  opacity: 1;
}

.page .author-info__description b {
  color: var(--xingzhi-card-bg);
  opacity: 1;
}

b,
strong {
  font-weight: bolder;
}

.author-info__bottom-group {
  display: flex;
  justify-content: space-between;
  position: absolute;
  padding: 1.2rem;
  width: 100%;
  left: 0;
  bottom: 0;
  align-items: center;
}

.page #aside-content .card-info .author-info__name,
.page .author-info__desc {
  color: var(--xingzhi-card-bg);
}

#aside-content .card-info .author-info__name {
  text-align: left;
  font-weight: 700;
  color: var(--xingzhi-white);
  font-size: 20px;
  line-height: 1;
  margin-bottom: 5px;
}

.author-info__desc {
  font-size: 12px;
  color: var(--xingzhi-white);
  opacity: 0.6;
  line-height: 1;
}

#aside-content .card-info .card-info-social-icons {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
}

#aside-content .card-info .card-info-social-icons .social-icon {
  margin: 0 0.5rem;
  color: var(--xingzhi-fontcolor);
  font-size: 1.4em;
  cursor: pointer;
  display: flex;
}

#aside-content .card-info .card-info-social-icons .social-icon {
  margin: 0;
  margin-left: 8px;
}

#aside-content .card-info .card-info-social-icons i {
  background: var(--xingzhi-white-op);
  color: var(--xingzhi-white);
  font-size: 1rem;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#aside-content .card-info .card-info-social-icons i {
  transition: all 0.3s ease 0s;
  padding: 8px;
  border-radius: 32px;
}

.card-widget:hover .author-info__description_group {
  opacity: 1;
}

#aside-content .card-info:hover .avatar-img-group {
  opacity: 0;
  transform: scale(0);
}

#aside-content .author-info__description,
#aside-content .author-info__name,
#site-name,
#site-subtitle,
#site-title {
  font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

#aside-content .card-info .card-info-social-icons i:hover {
  background: var(--xingzhi-white-op);
  transform: scale(1.1);
  color: var(--xingzhi-white);
  box-shadow: none;
}

div#author-info__sayhi:hover {
  background: var(--xingzhi-white-op);
  color: var(--xingzhi-white);
  transform: scale(1.1);
}

#aside-content .sticky_layout {
  top: 80px;
  transition: top 0s;
}

.card-allinfo hr {
  display: flex;
  position: relative;
  margin: 1rem 0;
  border: 1px dashed var(--xingzhi-theme-op);
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

#aside-content .card-webinfo .webinfo .webinfo-item {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.1rem 0.5rem 0;
}

.webinfo-item {
  display: flex;
  white-space: nowrap;
}

#aside-content .card-webinfo .webinfo .webinfo-item div:first-child {
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  padding-right: 1rem;
}

.webinfo-item-title {
  display: flex;
}

.webinfo-item-title i {
  line-height: 2;
  margin-right: 6px;
  width: 16px;
  text-align: center;
  font-size: 16px;
}

#aside-content .card-tag-cloud a sup {
  opacity: 0.6;
  margin-left: 2px;
}

#aside-content .card-tag-cloud a {
  display: inline-block;
  padding: 0 0.3rem;
}

sup {
  top: -0.3em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

#aside-content .card-tag-cloud a[href*="/tags/%E7%95%8C%E9%9D%A2%E6%95%88%E6%9E%9C/"] {
  color: var(--xingzhi-lighttext) !important;
  font-weight: 500;
}

#aside-content .card-tag-cloud a[href*="/tags/three-js/"] {
  color: var(--xingzhi-lighttext) !important;
  font-weight: 500;
}

.webinfo .webinfo-item a {
  display: flex;
}