#footer {
  background: linear-gradient(
    180deg,
    var(--xingzhi-card-bg-none) 0,
    var(--xingzhi-card-bg) 25%
  );
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

#footer::before {
  position: absolute !important;
  width: 100% !important;
  height: 100% !important;
  content: "" !important;
  z-index: -1;
}

div#footer_deal {
  justify-content: center;
  display: flex;
  padding-top: 2rem;
  align-items: center;
}

a.deal_link {
  display: flex;
  margin: 1rem 27px;
  color: var(--xingzhi-card-bg);
  border-radius: 3rem;
  width: 32px;
  height: 32px;
  background: var(--xingzhi-fontcolor);
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

#footer_deal i {
  font-size: 1.2rem;
  line-height: 1.2rem;
  height: 1.2rem;
}

.footer_mini_logo {
  width: 50px;
  height: 50px;
  margin: 0 1rem;
  cursor: pointer;
  transition: cubic-bezier(0, 0, 0, 1.29) 0.5s;
  user-select: none;
  border-radius: 50px;
  overflow: hidden;
}

a.deal_link:hover {
  color: var(--xingzhi-card-bg);
  background: var(--xingzhi-lighttext);
  transform: scale(1.1);
}

#footer-bar {
  padding: 1rem;
  color: var(--xingzhi-fontcolor);
  margin-top: 1rem;
  background: var(--xingzhi-secondbg);
  display: flex;
  overflow: hidden;
  z-index: 1002;
  transition: 0.3s;
  border-top: var(--style-border-always);
}

#footer-bar .footer-bar-links {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1;
}

#footer-bar .footer-bar-left {
  display: flex;
  flex-wrap: wrap;
  min-height: 32px;
  align-items: center;
}

#footer-bar .footer-bar-link {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 1rem;
  color: var(--xingzhi-fontcolor);
  font-size: 1rem;
  font-weight: 700;
  white-space: nowrap;
}

#footer-bar .footer-bar-link:hover {
  color: var(--xingzhi-theme);
}

.footer-bar-right {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

#footer-bar .footer-bar-link {
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 1rem;
  color: var(--xingzhi-fontcolor);
  font-size: 0.8rem;
  font-weight: 700;
  white-space: nowrap;
}

#footer-bar .footer-bar-link.cc {
  margin-right: 0;
}

#footer-bar .footer-bar-link.cc i {
  margin-right: 0.5rem;
  font-size: 18px;
}

#footer-bar .footer-bar-right a:hover {
  color: var(--xingzhi-lighttext);
}

@media screen and (min-width: 768px) {
  .needEndHide.hide {
    bottom: -200px !important;
    opacity: 0;
  }
}

.comment-barrage {
  position: fixed;
  bottom: 0px;
  right: 20px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;
  z-index: 999;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
  user-select: none;
}

#xingzhi-footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  margin: 1rem auto;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3rem;
  padding: 0 1rem;
}

#xingzhi-footer .footer-group {
  min-width: 120px;
}

#xingzhi-footer .footer-title {
  color: var(--xingzhi-secondtext);
  font-size: 1.2rem;
}

#xingzhi-footer .footer-links {
  display: flex;
  flex-direction: column;
}

#xingzhi-footer .footer-item {
  font-size: 1rem;
  line-height: 1rem;
  margin: 8px 0;
  color: var(--xingzhi-fontcolor);
  margin-right: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 120px;
  cursor: pointer;
  padding: 2px 0;
}

#xingzhi-footer .footer-item:hover {
  color: var(--xingzhi-main);
}

