#page-header.not-top-img {
  margin-bottom: 0;
}

#page-header {
  background-image: none !important;
  display: flex;
  justify-content: center;
}

#page-header.not-top-img:not(.nav-fixed) #nav {
  background: var(--xingzhi-none);
  transition: 0.3s;
}
#page-header.not-top-img #nav {
  transition: 0.3s;
  background: var(--xingzhi-card-bg);
}

#page-header.nav-fixed > #nav,
#page-header.not-top-img > #nav {
  box-shadow: none;
}

#page-header #nav {
  box-shadow: none;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  z-index: 1000 !important;
  -webkit-user-select: none;
}

#nav.show {
  top: 0;
  transition: 0.2s;
  position: fixed;
  z-index: 91;
}

#nav.show {
  opacity: 1;
  filter: none;
}

#nav {
  padding: 0;
  flex-wrap: nowrap;
}

#nav {
  position: absolute;
  top: 0;
  z-index: 90;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 36px;
  width: 100%;
  height: 60px;
  font-size: 1.3em;
  opacity: 0;
  transition: all 0.5s ease 0s;
  outline: 1px solid var(--xingzhi-none);
}

#page-header.not-top-img:not(.nav-fixed) #nav {
  background: var(--xingzhi-none);
  transition: 0.3s;
}

#page-header.not-top-img #nav {
  transition: 0.3s;
  background: var(--xingzhi-card-bg);
}

#page-header.nav-fixed > #nav,
#page-header.not-top-img > #nav {
  box-shadow: none;
}

#page-header #nav #nav-group {
  max-width: 1400px;
  width: 100%;
  display: flex;
  position: relative;
  padding: 0 1.5rem;
  align-items: center;
}

.page #nav a {
  color: var(--xingzhi-fontcolor);
}

#nav a {
  border-radius: 8px;
}

#nav #blog_name {
  flex-wrap: nowrap;
  height: 60px;
  display: flex;
  align-items: center;
  z-index: 102;
  transition: 0.3s;
}

.page .back-home-button {
  color: var(--xingzhi-fontcolor);
}

.back-home-button {
  display: flex;
  width: 35px;
  height: 35px;
  padding: 0 !important;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  transition: 0.3s;
  border-radius: 8px;
  color: var(--xingzhi-white);
  border-radius: 40px;
}

#page-header.not-top-img #nav .back-home-button i {
  font-size: 20px;
}

i.xingzhifont {
  font-size: 22px;
  line-height: 1;
}

.page #nav #site-name {
  color: var(--xingzhi-white);
  position: relative;
  display: flex;
}

@media screen and (min-width: 900px) {
  #page-name-mask {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
  }
  #page-name {
    align-items: center;
    display: flex;
    border-radius: 12px;
    height: 40px;
    position: absolute;
    top: 62px;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
  }

  #nav #page-name-text {
    display: inline;
    font-weight: 700;
    padding: 4px 8px;
    opacity: 0;
    transition: 0.1s;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    text-align: center;
    cursor: pointer;
    top: 0;
    /* font-size: 0.9rem; */
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
  }

  #page-header.nav-fixed #nav #page-name-text {
    display: inline;
    opacity: 1;
    transition: 0.3s;
    line-height: 1;
  }

  #nav #page-name-text:hover {
    color: var(--xingzhi-lighttext) !important;
    background: var(--xingzhi-none);
    box-shadow: none;
  }
}

#nav #menus {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  height: 60px;
  left: 0;
  margin: 0;
  transform: translateZ(0);
}

#nav .menus_items {
  position: relative;
  width: fit-content;
  text-align: center;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#nav .menus_items .menus_item {
  padding: 0 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  position: relative;
}

#menus > div.menus_items > div > a {
  letter-spacing: 0.3rem;
  font-weight: 700;
  padding: 0 0.8em 0 1em;
  height: 35px;
  line-height: 35px;
  -webkit-transition: color 0s !important;
  -moz-transition: color 0s !important;
  -o-transition: color 0s !important;
  -ms-transition: color 0s !important;
  transition: color 0s !important;
}

#menus > div.menus_items > div > a {
  letter-spacing: 0.3rem;
  padding-left: 0.7rem;
  font-weight: 700;
  padding-top: 0;
  padding-bottom: 0;
  height: 35px;
  line-height: 35px;
  border-radius: 40px;
}

#nav .site-page {
  position: relative;
  /* padding-bottom: 6px; */
  font-size: 0.85em;
  cursor: pointer;
}

#nav .site-page {
  text-shadow: 0.05rem 0.05rem 0.1rem transparent;
  border-radius: 8px;
}

#nav .menus_items .menus_item i.expand {
  display: none;
}

#nav .menus_items .menus_item i.expand {
  padding: 4px;
  transition: transform 0.3s ease 0s;
}

#page-header #nav #nav-right {
  position: absolute;
  right: 0;
  z-index: 102;
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  margin-right: 1.5rem;
  overflow: hidden;
}

#page-header #nav #nav-right > div {
  margin-left: 1rem;
  padding: 0;
}

.nav-button {
  cursor: pointer;
}

#blog_name #site-name .title {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  letter-spacing: normal;
  font-size: 1.2rem;
  padding: 0 5px;
  line-height: 2rem;
  -webkit-transition: color 0s;
  -moz-transition: color 0s;
  -o-transition: color 0s;
  -ms-transition: color 0s;
  transition: color 0s;
}

#nav #blog_name a,
#nav #menus a,
#nav #nav-right #toggle-menu a,
#nav #nav-right .nav-button a,
#nav .mask-name-container a {
  border-radius: 50px;
}

#site-name {
  padding: 0 2px;
  height: 35px;
  line-height: 35px;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

#blog_name #site-name i {
  position: absolute;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
  font-size: 1rem;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#page-header.not-top-img #nav #blog_name #site-name:hover,
#page-header.not-top-img #nav #blog_name .back-home-button:hover,
#page-header.not-top-img #nav #nav-right #toggle-menu:hover,
#page-header.not-top-img #nav #nav-right .nav-button a:hover {
  color: var(--xingzhi-white);
  background: var(--xingzhi-main);
  -webkit-box-shadow: var(--xingzhi-shadow-main);
  box-shadow: var(--xingzhi-shadow-main);
}

#blog_name #site-name:hover .title {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#blog_name #site-name:hover i {
  color: #fff;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}

#nav i {
  font-size: 1.2rem;
  font-weight: 700;
}

.page #menus > div.menus_items > .menus_item:hover > a {
  color: var(--xingzhi-card-bg);
}

.page #nav a:hover {
  color: var(--xingzhi-card-bg);
  background: var(--xingzhi-lighttext);
  transition: 0.3s;
  box-shadow: var(--xingzhi-shadow-main);
}

#nav .site-page:hover {
  color: var(--xingzhi-white) !important;
}

#page-header #nav .nav-button a {
  height: 35px;
  width: 35px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transition: background 0.3s ease-in-out, color 0s ease-in-out;
  -moz-transition: background 0.3s ease-in-out, color 0s ease-in-out;
  -o-transition: background 0.3s ease-in-out, color 0s ease-in-out;
  -ms-transition: background 0.3s ease-in-out, color 0s ease-in-out;
  transition: background 0.3s ease-in-out, color 0s ease-in-out;
}

#page-header #nav #nav-left .nav-button a i,
#page-header #nav #nav-right .nav-button a i {
  line-height: 1;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

#page-header:not(.nav-fixed) #nav-totop {
  width: 0;
  transform: scale(0);
  transition: 0.3s;
  margin-left: 0 !important;
  overflow: hidden;
  transition: 0.3s ease-in;
}

#nav-totop {
  position: relative;
  width: 35px;
  height: 35px;
  transition: 0.3s;
  display: flex;
  border-radius: 40px;
  transition: all 0.3s ease-in-out;
  align-items: center;
}

#page-header #nav #nav-right .nav-button a.totopbtn {
  width: 25px;
  height: 25px;
  border-radius: 40px;
  background: var(--xingzhi-fontcolor);
  color: var(--xingzhi-card-bg);
  position: absolute;
  top: 5px;
  right: 5px;
  transition: 0.3s;
}

#page-header #nav #nav-left .nav-button a i,
#page-header #nav #nav-right .nav-button a i {
  line-height: 1;
  font-size: 22px;
}

#page-header:not(.nav-fixed) #percent {
  transition: 0.3s;
}

.nav-fixed #nav-totop #percent,
.page #nav-totop #percent {
  font-size: 12px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  white-space: nowrap;
}

#nav-totop #percent {
  font-size: 12px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  white-space: nowrap;
}

#page-header.nav-fixed #nav {
  position: fixed;
  top: 0;
  z-index: 91;
  transition: 0.3s;
}

#page-header.nav-fixed #nav #site-name,
#page-header.nav-fixed #nav #toggle-menu,
#page-header.nav-fixed #nav a {
  text-shadow: none;
}

#page-header.nav-fixed > #nav,
#page-header.not-top-img > #nav {
  box-shadow: none;
}

.nav-fixed #nav a {
  color: var(--xingzhi-fontcolor);
  transition: 0.3s;
}

#page-header.nav-fixed #nav {
  top: 0;
  box-shadow: none;
  background: var(--xingzhi-card-bg);
  outline: 1px solid var(--xingzhi-card-border);
}

#page-header.not-top-img:not(.nav-fixed) #nav {
  background: var(--xingzhi-none);
  transition: 0.3s;
}

@media screen and (max-width: 768px) {
  #page-header.not-top-img:not(.nav-fixed) #nav {
    transition: 0s;
  }
}

#page-header.nav-fixed #nav #menus > div.menus_items {
  transition: 0.3s;
  height: 40px;
  margin: auto 0;
}

.nav-fixed #nav-totop #percent,
.page #nav-totop #percent {
  font-size: 12px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  white-space: nowrap;
}

#page-header:not(.nav-fixed) #percent {
  transition: 0.3s;
}

#page-header:not(.nav-fixed) #nav-totop {
  width: 0;
  transform: scale(0);
  transition: 0.3s;
  margin-left: 0 !important;
  overflow: hidden;
  transition: 0.3s ease-in;
}

.nav-fixed #nav .back-home-button {
  color: var(--xingzhi-fontcolor);
}

.nav-fixed .back-home-button:hover {
  background: var(--xingzhi-lighttext);
  color: var(--xingzhi-white);
}

.nav-fixed #nav #site-name:hover {
  background: var(--xingzhi-lighttext);
  color: var(--xingzhi-card-bg);
}

#page-header.nav-fixed #nav #page-name-text {
  display: inline;
  opacity: 1;
  transition: 0.3s;
  line-height: 1;
}

#page-header.nav-fixed #nav #page-name-text:hover:after {
  opacity: 1;
  line-height: 36px;
}

#page-header.nav-fixed #nav div.menus_items {
  transition: 0.15s;
  position: relative;
  top: -60px;
}

#page-header.nav-fixed.nav-visible #nav #page-name-text {
  display: inline;
  transition: 0.15s;
}

#page-header.nav-fixed.nav-visible #nav div.menus_items {
  opacity: 1;
  transition: 0.15s;
  position: relative;
  top: 0;
}

#page-header.nav-fixed.nav-visible #nav #menus {
  z-index: 101;
}

#page-header.nav-fixed.nav-visible #page-name {
  z-index: 100;
  top: 60px;
  transition: 0.3s;
}

#page-header.nav-fixed #nav #menus {
  z-index: 100;
}

#page-header.nav-fixed #page-name {
  z-index: 101;
  transition: 0.3s;
  top: 10px;
}

.nav-fixed #nav a:hover {
  background: var(--xingzhi-lighttext);
  color: var(--xingzhi-card-bg);
  transition: 0.3s;
}

@media screen and (min-width: 768px) {
  .menus_item:hover > a.site-page {
    color: var(--xingzhi-card-bg);
    background: var(--xingzhi-white-op);
    transition: 0.3s;
    box-shadow: var(--xingzhi-shadow-main);
  }

  .page .menus_item:hover > a.site-page {
    color: var(--xingzhi-card-bg);
    background: var(--xingzhi-main);
    transition: 0.3s;
    box-shadow: var(--xingzhi-shadow-main);
  }

  .post .menus_item:hover > a.site-page {
    color: var(--xingzhi-white);
  }

  .nav-fixed .menus_item:hover > a.site-page {
    background-color: var(--xingzhi-lighttext);
  }
}

@media screen and (max-width: 768px) {
  #sidebar #sidebar-menus .menus_items li .site-page:hover {
    background: var(--xingzhi-main);
    color: var(--xingzhi-white);
  }

  #sidebar #sidebar-menus .menus_items li .site-page span:hover {
    color: var(--xingzhi-white);
  }

  #nav #site-name i {
    color: var(--xingzhi-white);
    transition: 0.1s;
  }

  .error #nav #site-name i {
    color: var(--xingzhi-fontcolor);
  }

  .nav-fixed #nav #site-name i {
    color: var(--xingzhi-fontcolor);
    transition: 0.3s;
  }

  .page #nav #site-name i {
    color: var(--xingzhi-fontcolor);
  }

  #nav a:hover {
    background: var(--xingzhi-none) !important;
    box-shadow: none !important;
    transition: 0.3s;
    color: var(--xingzhi-fontcolor);
  }

  #page-header.not-top-img #nav a:hover {
    color: var(--xingzhi-fontcolor);
  }
}

.nav-fixed #nav #site-name i {
  color: var(--xingzhi-fontcolor);
}

#page-header.nav-fixed
  #nav
  #menus[style*="padding-right: 300px;"]
  .menus_items {
  transform: translateX(-150px);
}

@media screen and (max-width: 768px) {
  #page-header.nav-fixed #travellings_button {
    opacity: 0;
  }
}

.nav-fixed #nav .site-page {
  color: var(--xingzhi-fontcolor);
}

.nav-fixed #nav .menus_item:hover .site-page {
  color: var(--xingzhi-card-bg);
}

.nav-fixed #nav .menus_item:hover li .site-page {
  color: var(--xingzhi-fontcolor);
}

#page-header.nav-fixed #nav #menus > div.menus_items {
  transition: 0.3s;
  height: 40px;
  margin: auto 0;
}

@media screen and (min-width: 900px) {
  #page-header.nav-fixed #nav div.menus_items {
    transition: 0.15s;
    position: relative;
    top: -60px;
  }

  #page-header.nav-fixed #nav #menus {
    z-index: 100;
  }

  #nav .back-home-button:hover {
    box-shadow: var(--xingzhi-shadow-main);
    color: var(--xingzhi-card-bg);
  }
}

#nav-totop .totopbtn i {
  position: absolute;
  display: flex;
  font-size: 0.8rem;
  opacity: 0;
  line-height: 1;
  font-size: 22px;
}

.nav-fixed #nav-totop #percent,
.page #nav-totop #percent {
  font-size: 12px;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  white-space: nowrap;
}

#page-header #nav #nav-right .nav-button:not(.long):hover a.totopbtn {
  width: 35px;
  height: 35px;
  top: 0;
  right: 0;
}

#page-header #nav #nav-right .nav-button:hover a.totopbtn {
  background: var(--xingzhi-lighttext);
}

#nav-totop:hover .totopbtn i {
  opacity: 1;
  color: var(--xingzhi-card-bg);
  transition: 0.3s;
}

#nav-totop:hover #percent {
  opacity: 0;
  font-weight: 700;
}

.nav-button {
  cursor: pointer;
}

#nav-totop.long {
  width: 80px;
}

#page-header #nav #nav-right .nav-button.long a.totopbtn {
  width: 70px;
}

#nav {
  font-size: 1.3em;
}

#nav .menus_items .menus_item .menus_item_child {
  padding: 6px 4px 8px 4px;
  border-radius: 100px;
  background-color: var(--xingzhi-maskbgdeep);
  box-shadow: var(--xingzhi-shadow-black);
  border: var(--style-border);
  transition: 0.3s;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  top: 35px;
  position: absolute;
  margin-top: 8px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px) scale(0.8);
}

li,
ul {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

#nav .menus_items .menus_item .menus_item_child:before {
  top: -10px;
}

#nav .menus_items .menus_item .menus_item_child::before {
  position: absolute;
  top: -8px;
  left: 0;
  width: 100%;
  height: 20px;
  content: "";
}

#nav .menus_items .menus_item:first-child .menus_item_child::after {
  position: absolute;
  top: -60px;
  left: 0;
  width: 50%;
  height: 60px;
  content: "";
}

#nav .menus_items .menus_item .menus_item_child li {
  display: inline-flex;
  list-style: none;
  border-radius: 5px;
  margin: 0 4px;
}

#nav .menus_items .menus_item .menus_item_child li a {
  letter-spacing: 0;
  display: flex;
  align-items: center;
  border-radius: 100px;
  padding: 0.3rem 0.8rem;
  width: 100%;
  color: var(--xingzhi-fontcolor);
  text-shadow: none;
}

#nav .site-page {
  position: relative;
  padding-bottom: 0.3rem;
  text-shadow: rgba(0, 0, 0, 0.3) 0.05rem 0.05rem 0.1rem;
  font-size: 0.9em;
  cursor: pointer;
}

#nav a {
  transition: 0.3s;
}

#nav .menus_items .menus_item:hover .menus_item_child {
  border: var(--style-border-hover);
  box-shadow: var(--xingzhi-shadow-main);
  opacity: 1;
  pointer-events: all;
  transform: translateY(0) scale(1);
}

#nav .menus_items .menus_item:hover .menus_item_child {
  display: block;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

#nav .menus_items .menus_item .menus_item_child li a:hover {
  background: var(--xingzhi-lighttext);
  color: var(--xingzhi-card-bg);
  box-shadow: var(--xingzhi-shadow-main);
  margin: 0 auto;
  transform: scale(1);
  padding: 0.3rem 1rem;
}

@media screen and (min-width: 768px) {
  .menus_item:hover > a.site-page {
    color: var(--xingzhi-card-bg);
    background: var(--xingzhi-white-op);
    transition: 0.3s;
    box-shadow: var(--xingzhi-shadow-main);
  }

  .page .menus_item:hover > a.site-page {
    color: var(--xingzhi-card-bg);
    background: var(--xingzhi-main);
    transition: 0.3s;
    box-shadow: var(--xingzhi-shadow-main);
  }

  .post .menus_item:hover > a.site-page {
    color: var(--xingzhi-white);
  }

  .nav-fixed .menus_item:hover > a.site-page {
    background-color: var(--xingzhi-lighttext);
  }
}

@media screen and (max-width: 768px) {
  #sidebar #sidebar-menus .menus_items li .site-page:hover {
    background: var(--xingzhi-main);
    color: var(--xingzhi-white);
  }

  #sidebar #sidebar-menus .menus_items li .site-page span:hover {
    color: var(--xingzhi-white);
  }

  #nav #site-name i {
    color: var(--xingzhi-white);
    transition: 0.1s;
  }

  .error #nav #site-name i {
    color: var(--xingzhi-fontcolor);
  }

  .nav-fixed #nav #site-name i {
    color: var(--xingzhi-fontcolor);
    transition: 0.3s;
  }

  .page #nav #site-name i {
    color: var(--xingzhi-fontcolor);
  }

  #nav a:hover {
    background: var(--xingzhi-none) !important;
    box-shadow: none !important;
    transition: 0.3s;
    color: var(--xingzhi-fontcolor);
  }

  #page-header.not-top-img #nav a:hover {
    color: var(--xingzhi-fontcolor);
  }
}

.nav-fixed #nav .menus_item:hover .site-page {
  color: var(--xingzhi-card-bg);
}

.nav-fixed #nav .menus_item:hover li .site-page {
  color: var(--xingzhi-fontcolor);
}

.back-home-button .back-menu-list-groups {
  position: absolute;
  top: 45px;
  transform: scale(0.8);
  transform-origin: top left;
  left: 1.5rem;
  background-color: var(--xingzhi-maskbgdeep);
  border-radius: 12px;
  border: var(--style-border);
  flex-direction: column;
  font-size: 12px;
  color: var(--xingzhi-secondtext);
  box-shadow: var(--xingzhi-shadow-border);
  transition: 0.1s;
  opacity: 0;
  pointer-events: none;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.back-home-button .back-menu-list-group {
  display: flex;
  flex-direction: column;
}

.back-home-button .back-menu-list-group .back-menu-list-title {
  margin: 8px 0 0 16px;
  transition: 0.3s;
}

.back-menu-list-groups .back-menu-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 340px;
  justify-content: space-between;
}

.back-menu-list-groups .back-menu-list::before {
  position: absolute;
  top: -15px;
  left: 0;
  width: 100%;
  height: 20px;
  content: "";
}

.back-menu-list-groups .back-menu-list .back-menu-item .back-menu-item-icon {
  width: 24px;
  height: 24px;
  border-radius: 8px;
  background: var(--xingzhi-none);
}

.back-home-button:hover {
  background: var(--xingzhi-main);
  color: var(--xingzhi-white);
}

.back-home-button:hover .back-menu-list-groups {
  display: flex;
  opacity: 1;
  transition: 0.3s;
  top: 55px;
  pointer-events: auto;
  left: 1.5rem;
  transform: scale(1);
}

.back-home-button .back-menu-list .back-menu-item {
  width: 150px;
}

.back-menu-list-groups .back-menu-list .back-menu-item {
  display: flex;
  align-items: center;
  margin: 4px 8px;
  padding: 4px 8px !important;
  transition: 0.3s;
  border-radius: 8px;
}

.page #nav a:hover {
  color: var(--xingzhi-card-bg);
  background: var(--xingzhi-lighttext);
  transition: 0.3s;
  box-shadow: var(--xingzhi-shadow-main);
}

.page #nav #nav-group .back-home-button a {
  transition: none;
}

#page-header.not-top-img {
  margin-bottom: 0.5rem;
  height: 60px;
  background: 0 center;
}

.page #nav #site-name {
  color: var(--xingzhi-fontcolor);
}

#nav #site-name {
  color: var(--xingzhi-white);
}

.back-menu-list-groups .back-menu-list .back-menu-item .back-menu-item-text {
  font-size: 16px;
  margin-left: 0.5rem;
  color: var(--xingzhi-fontcolor);
  transition: 0.3s;
}

.back-menu-list-groups
  .back-menu-list
  .back-menu-item:hover
  .back-menu-item-text {
  color: var(--xingzhi-card-bg);
}

#nav a:hover {
  color: var(--xingzhi-white);
  background: var(--xingzhi-white-op);
  transition: 0.3s;
}

.back-menu-list-groups .back-menu-list .back-menu-item:hover {
  background: var(--xingzhi-lighttext) !important;
  transform: scale(1) !important;
}

