@font-face {
  font-family: "iconfont"; /* Project id 4264124 */
  src: url('//at.alicdn.com/t/c/font_4264124_dv1orumu7jg.woff2?t=1698044129526') format('woff2'),
       url('//at.alicdn.com/t/c/font_4264124_dv1orumu7jg.woff?t=1698044129526') format('woff'),
       url('//at.alicdn.com/t/c/font_4264124_dv1orumu7jg.ttf?t=1698044129526') format('truetype');
}

.xingzhifont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add-circle:before {
  content: "\e665";
}

.icon-pingtai:before {
  content: "\e82c";
}

.icon-link:before {
  content: "\e772";
}

.icon-arrow-right-s-line:before {
  content: "\e834";
}

.icon-external:before {
  content: "\e633";
}

.icon-moon:before {
  content: "\e64a";
}

.icon-refresh:before {
  content: "\e6ba";
}

.icon-pinglun:before {
  content: "\e63f";
}

.icon-icon-arrow-left:before {
  content: "\e6f7";
}

.icon-icon-arrow-up:before {
  content: "\e6f8";
}

.icon-icon-arrow-right:before {
  content: "\e6fa";
}

.icon-share:before {
  content: "\e630";
}

.icon-CC:before {
  content: "\e63a";
}

.icon-Sun:before {
  content: "\e660";
}

.icon-jiaosequanxianguanli:before {
  content: "\e67b";
}

.icon-moon-3:before {
  content: "\e623";
}

.icon-jiantou_yemian_xiangxia:before {
  content: "\eb0a";
}

.icon-arrow-down-s-line:before {
  content: "\e72b";
}

.icon-file-copy-fill:before {
  content: "\e6c5";
}

.icon-hand-heart-fill:before {
  content: "\e8a7";
}

.icon-plant-fill:before {
  content: "\eb5d";
}

.icon-copyright-line:before {
  content: "\e652";
}

.icon-creative-commons-nd-line:before {
  content: "\e6ec";
}

.icon-creative-commons-nc-line:before {
  content: "\e6ef";
}

.icon-creative-commons-by-line:before {
  content: "\e6f9";
}

.icon-wangyiyunyinyuemusic1193417easyiconnet:before {
  content: "\e650";
}

.icon-facebook:before {
  content: "\e677";
}

.icon-weibo:before {
  content: "\e882";
}

.icon-github-line:before {
  content: "\e767";
}

.icon-twitter:before {
  content: "\e646";
}

.icon-bilibili-line:before {
  content: "\e75d";
}

.icon-douyin:before {
  content: "\e673";
}

.icon-email-fill:before {
  content: "\e856";
}

.icon-history:before {
  content: "\e61c";
}

.icon-comments:before {
  content: "\e689";
}

.icon-file-word:before {
  content: "\e7ba";
}

.icon-calender:before {
  content: "\e752";
}

.icon-eye:before {
  content: "\e823";
}

.icon-clock:before {
  content: "\e621";
}

.icon-location-dot:before {
  content: "\e8b0";
}

.icon-youqinglianjie:before {
  content: "\e636";
}

.icon-fenlei:before {
  content: "\e62f";
}

.icon-xingxing:before {
  content: "\e718";
}

.icon-wangzhan:before {
  content: "\e6f5";
}

.icon-fengche:before {
  content: "\e614";
}

.icon-24gl-tags4:before {
  content: "\e87d";
}

.icon-24gl-folderStar:before {
  content: "\eac0";
}

.icon-ACE:before {
  content: "\e66a";
}

.icon-tuijianbangshou:before {
  content: "\e62e";
}

.icon-kaifasheji:before {
  content: "\e613";
}

.icon-icon_:before {
  content: "\e68f";
}

.icon-fengche1:before {
  content: "\e827";
}

.icon-APP:before {
  content: "\e691";
}

.icon-zhifeiji:before {
  content: "\e68a";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-bilibili-fill:before {
  content: "\e66b";
}

.icon-hashtag:before {
  content: "\e8b5";
}

.icon-arrow-up-line:before {
  content: "\e67a";
}

.icon-moon-clear-fill:before {
  content: "\e835";
}

.icon-side-bar-fill:before {
  content: "\e676";
}

.icon-keyboard-box-fill:before {
  content: "\ee2d";
}

.icon-cc-close-crude:before {
  content: "\e62a";
}

.icon-igw-f-dashboard-rectangle:before {
  content: "\e664";
}

.icon-shezhi-xianxing:before {
  content: "\e8b7";
}

.icon-touzi:before {
  content: "\e76d";
}

.icon-gongjiao:before {
  content: "\e62d";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-grip-vertical:before {
  content: "\eb3d";
}
