@media screen and (min-width: 1300px) {
  .layout {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
  }

  #pagination {
    margin-top: 0.25rem;
  }

  #recent-posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    user-select: none;
  }

  #aside-content {
    padding-left: 1rem;
    animation: slide-in 0.6s 0.3s backwards;
  }

  #category-bar {
    margin-bottom: 0.75rem;
    box-shadow: var(--xingzhi-shadow-border);
    animation: slide-in 0.6s 0.3s backwards;
  }

  #recent-posts > .recent-post-item {
    width: calc(100% / 2 - 0.5rem);
    margin-top: 0.25rem;
    margin-bottom: 0.75rem;
    box-shadow: var(--xingzhi-shadow-border);
    flex-direction: column;
  }

  #recent-posts > .recent-post-item .left,
  #recent-posts > .recent-post-item .right {
    width: 100%;
    display: flex;
  }

  #recent-posts > .recent-post-item .post_cover {
    transition: 1s !important;
    height: 225px;
    width: 100%;
  }

  #recent-posts > .recent-post-item > .recent-post-info > .article-meta-wrap {
    bottom: 20px;
  }

  .recent-post-item .recent-post-info .recent-post-info-top .article-title {
    font-size: 20px;
    -webkit-line-clamp: 2;
  }

  .recent-post-item:hover
    .recent-post-info
    .recent-post-info-top
    .article-title {
    -webkit-line-clamp: 2;
  }

  .recent-post-top .recent-post-item:hover .recent-post-info a {
    color: var(--xingzhi-theme);
    transition: 0.3s;
  }

  #recent-posts .recent-post-item:hover img.post-bg {
    transform: scale(1.03);
    transition: 0.3s ease-in-out;
    filter: brightness(0.85);
  }
}

@media screen and (min-width: 768px) {
  #recent-posts .recent-post-item:hover .recent-post-info .article-title {
    color: var(--xingzhi-theme);
  }

  #pagination {
    overflow: visible;
  }

  #pagination .pagination {
    position: relative;
    display: flex;
    justify-content: center;
  }

  #pagination .page-number.current:hover {
    background: var(--xingzhi-theme);
    border: var(--style-border-hover);
    box-shadow: var(--xingzhi-shadow-theme);
  }

  #pagination .page-number {
    width: 2rem;
    background: var(--xingzhi-card-bg);
    height: 2rem;
    line-height: calc(2rem - 2px);
    border-radius: 8px !important;
    margin: 0 0.3rem;
    box-shadow: var(--xingzhi-shadow-border);
    border: var(--style-border);
    transition: 0.3s;
  }

  #pagination .page-number:hover {
    color: var(--xingzhi-theme);
    border: var(--style-border-hover);
    /* box-shadow: var(--xingzhi-shadow-main); */
  }

  #pagination a.extend.next {
    overflow: hidden;
  }

  #pagination a.extend.next,
  #pagination a.extend.prev {
    width: 4rem;
    height: 2rem;
    line-height: 1.9rem;
    border-radius: 8px !important;
    background: var(--xingzhi-card-bg);
    box-shadow: var(--xingzhi-shadow-border);
    position: absolute;
    border: var(--style-border);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.3s;
  }

  #pagination a.extend.next:hover,
  #pagination a.extend.prev:hover {
    color: var(--xingzhi-theme);
    border: var(--style-border-hover);
    /* box-shadow: var(--xingzhi-shadow-main); */
  }

  #pagination a.extend.next .pagination_tips_next {
    margin-left: -32px;
    transition: 0.3s;
    opacity: 0;
  }

  #pagination a.extend.prev .pagination_tips_prev {
    margin-right: -32px;
    transition: 0.3s;
    opacity: 0;
  }

  #pagination a.extend.next:hover .pagination_tips_next {
    margin-left: 2px;
    opacity: 1;
    white-space: nowrap;
  }

  #pagination a.extend.prev:hover .pagination_tips_prev {
    margin-right: 2px;
    opacity: 1;
    white-space: nowrap;
  }

  #pagination a.extend.next i,
  #pagination a.extend.prev i {
    transition: 0.3s;
  }
}

#pagination .page-number {
  display: inline-block;
  margin: 0 0.2rem;
  min-width: 1.2rem;
  height: 2rem;
  text-align: center;
  line-height: calc(2rem - 2px);
  cursor: pointer;
}

#pagination .page-number.current {
  /* background: #0079ff; */
  background: var(--xingzhi-theme);
  color: var(--xingzhi-card-bg);
  cursor: default;
  border-radius: 5px;
}

#pagination {
  width: 100%;
}

#pagination .pagination {
  text-align: center;
}

.layout#content-inner {
  max-width: 1400px;
}

.layout {
  display: flex;
  margin: 0 auto;
  /* padding: 2rem 15px; */
  max-width: 1200px;
}

.layout > div:first-child {
  width: 75%;
  transition: all 0.3s ease 0s;
}

.layout > div:first-child {
  width: calc(100% - 300px);
}

#recent-posts {
  position: relative;
}

#aside-content {
  width: 300px;
}

#category-bar {
  padding: 0.4rem 1rem 0.4rem 0.7rem;
  background: var(--xingzhi-card-bg);
  border-radius: 12px;
  display: flex;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 1rem;
  border: var(--style-border);
  transition: 0.3s;
  width: 100%;
  justify-content: space-between;
  user-select: none;
  display: flex;
  align-items: center;
}

.category-bar-items {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  border-radius: 8px;
  align-items: center;
  height: 30px;
}

.category-bar-item.select a {
  background: var(--xingzhi-theme);
  color: var(--xingzhi-card-bg);
  border-radius: 8px;
}

.category-bar-item a {
  padding: 0.1rem 0.5rem;
  margin-right: 6px;
  font-weight: 700;
  border-radius: 8px;
  display: flex;
  align-items: center;
  height: 30px;
}

#recent-posts > .recent-post-item {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
  animation: slide-in 0.6s 0.4s backwards;
  will-change: transform;
}

#recent-posts > .recent-post-item {
  box-shadow: var(--xingzhi-shadow-light2black);
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-align: center;
  align-items: center;
  transition: all 0.3s ease 0s;
  position: relative;
}

#recent-posts .recent-post-item {
  height: fit-content;
  background: var(--xingzhi-card-bg);
  border-radius: 12px;
  cursor: pointer;
  border: var(--style-border);
}

#recent-posts > .recent-post-item > .recent-post-info {
  height: 174px;
  width: 100%;
  cursor: pointer;
  position: relative;
  padding: 0;
  display: inline-block;
  overflow: hidden;
}

#recent-posts > .recent-post-item .left a,
#recent-posts > .recent-post-item .right a {
  min-height: 100%;
  min-width: 100%;
}

#recent-posts > .recent-post-item .post_cover img.post_bg {
  width: 100%;
  height: 100%;
  transition: all 0.6s ease 0s;
  object-fit: cover;
}

img {
  max-width: 100%;
  transition: all 0.2s ease 0s;
  border-style: none;
}

.recent-post-item .recent-post-info .recent-post-info-top {
  position: relative;
  transition: 0.3s;
  padding: 0 32px;
  width: 100%;
}

#recent-posts > .recent-post-item > .recent-post-info > .article-meta-wrap {
  position: absolute;
  bottom: 16px;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  left: 0;
  padding: 0 32px;
  white-space: nowrap;
}

#recent-posts > .recent-post-item > .recent-post-info > .article-meta-wrap {
  color: var(--xingzhi-fontcolor);
  font-size: 0.9rem;
  user-select: none;
}

.recent-post-item span.tags-punctuation {
  margin-right: 0;
  font-size: 13px;
}

.recent-post-info-top-tips {
  display: flex;
  margin-top: 20px;
  user-select: none;
}

#recent-posts > .recent-post-item .post_cover {
  overflow: hidden;
  mask-image: -webkit-radial-gradient(center, #fff, #000);
}

.recent-post-item .recent-post-info .recent-post-info-top .original {
  display: flex;
  color: var(--xingzhi-secondtext);
  font-size: 0.7rem;
  position: relative;
  margin-right: 8px;
}

.recent-post-item .recent-post-info .recent-post-info-top .article-title {
  line-height: 30px;
  margin-top: 0;
  font-weight: 700;
  color: var(--xingzhi-fontcolor);
  margin-bottom: 0;
  width: 100%;
  transition: 0.3s;
  /* font-size: 1rem; */
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
}

.recent-post-item .recent-post-info .recent-post-info-top .content {
  opacity: 0;
  transition: 0.3s;
  display: none;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.4;
  color: var(--xingzhi-secondtext);
  margin-top: 0.5rem;
  height: 0;
}

.article-meta {
  margin: 0 8px 0 0;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
}

.article-meta__tags {
  margin-right: 8px;
  padding: 0 0.2rem;
  padding-left: 0;
  color: var(--xingzhi-fontcolor);
}

#recent-posts
  > .recent-post-item
  > .recent-post-info
  > .article-meta-wrap
  .article-meta__separator {
  display: none;
  margin: 0 0.3rem;
}

#recent-posts
  > .recent-post-item
  > .recent-post-info
  > .article-meta-wrap
  .article-meta__link {
  margin: 0 0.2rem;
  display: none;
}

i.icon-hashtag {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
  font-size: 13px;
}

#recent-posts > .recent-post-item > .recent-post-info > .article-meta-wrap i {
  margin: 0 4px 0 0;
}

#recent-posts
  > .recent-post-item
  > .recent-post-info
  > .article-meta-wrap
  a
  span {
  pointer-events: none;
}

#recent-posts
  > .recent-post-item
  > .recent-post-info
  > .article-meta-wrap
  a:hover {
  color: #425aef;
}

#recent-posts .recent-post-item:hover {
  border: var(--style-border-hover);
  /* box-shadow: var(--xingzhi-shadow-main); */
}

.recent-post-top .recent-post-item:hover .recent-post-info a {
  color: var(--xingzhi-fontcolor);
}

#recent-posts
  > .recent-post-item
  > .recent-post-info
  > .article-meta-wrap
  > .post-meta-date {
  right: 0;
  text-align: right;
  cursor: default;
}

.page .post-meta-date .article-meta-label,
.page .post-meta-date i {
  display: none;
}

#recent-posts
  > .recent-post-item
  > .recent-post-info
  > .article-meta-wrap
  .article-meta-label {
  padding-right: 0.2rem;
}

a.extend.next {
  right: 0;
}

a.extend.prev {
  left: 0;
}

.layout > div:first-child:not(.recent-posts) {
  /* box-shadow: var(--xingzhi-shadow-border); */
  padding: 1rem 2rem;
  border-radius: 12px;
  background: var(--xingzhi-card-bg);
  border: var(--style-border);
  width: calc(100% - 300px);
  align-self: flex-start;
  animation: slide-in 0.6s 0.1s backwards;
  position: relative;
  overflow: hidden;
}

body {
  position: relative;
  min-height: 100%;
  color: var(--xingzhi-fontcolor);
  margin: 0;
}

#sakura.hide {
  display: none;
}

#particle_box.hide {
  display: none;
}

@media screen and (max-width: 899px) {
  #nav #page-name-mask {
    display: none !important;
  }

  #aside-content > .card-widget:first-child {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  #nav-console {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  #travellings_button {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  /* .page .layout#content-inner {
    background: var(--xingzhi-background);
  } */

  #recent-posts {
    padding: 0 1rem;
  }

  #aside-content .card-widget.card-info,
  #aside-content .card-widget.card-announcement {
    display: none;
  }

  .aside-content {
    display: block;
  }

  #aside-content {
    z-index: 2;
    /* background: var(--xingzhi-background); */
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #recent-posts > .recent-post-item.lastestpost-item {
    margin-top: 10px !important;
  }

  /* #recent-posts > .recent-post-item:not(:first-child) {
    margin: 20px 20px 0;
  } */

  #aside-content > .card-widget:first-child {
    margin-top: 0;
  }

  #pagination {
    margin-bottom: 0;
    margin-top: 0;
  }

  #pagination .pagination {
    background: var(--xingzhi-background);
    transition: 0.3s;
    display: flex;
  }

  #pagination .page-number {
    display: none;
  }

  #pagination .pagination .space {
    display: none;
  }

  #pagination .pagination .extend i {
    display: none;
  }

  #pagination .pagination .extend {
    width: 100%;
    height: 2.5rem;
    margin: 0.2rem 0 1rem 0;
    border-radius: 12px;
    line-height: 2.5rem;
    background: var(--xingzhi-card-bg);
    border: var(--style-border-always);
    box-shadow: var(--xingzhi-shadow-border);
  }

  #pagination .pagination .extend:hover {
    background: var(--xingzhi-theme);
    color: var(--xingzhi-white);
  }

  #footer {
    background: linear-gradient(
      180deg,
      var(--xingzhi-background) 0,
      var(--xingzhi-card-bg) 25%
    ) !important;
    margin-top: 0;
    z-index: 999;
  }

  div#footer_deal {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media screen and (min-width: 900px) {
  #aside-content .sticky_layout {
    top: 60px;
  }

  .post #aside-content .sticky_layout {
    top: 80px;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::selection {
  background: #0079ff;
  color: #f7f7f7;
}

::-webkit-scrollbar-track {
  background-color: var(--xingzhi-none);
}

::-webkit-scrollbar-thumb {
  background: var(--xingzhi-scrollbar);
  border-radius: 8px;
  cursor: pointer;
}

.sticky_layout .card-widget.card-tags span.xingzhifont {
  display: none;
}

#recent-posts .recent-post-item {
  height: fit-content;
  background: var(--xingzhi-card-bg);
  border-radius: 12px;
  cursor: pointer;
  border: var(--style-border);
}

#category,
#tag {
  background-color: transparent;
}

[data-theme="dark"] #category {
  background-color: var(--xingzhi-card-bg);
}

[data-theme="dark"] #tag {
  background-color: var(--xingzhi-card-bg);
}

/* @media screen and (min-width: 768px) {
  #pagination .page-number.current:hover {
    background: var(--xingzhi-theme);
    box-shadow: var(--xingzhi-shadow-theme);
    color: var(--xingzhi-white);
  }
} */
