#rightside {
  display: none;
  padding-right: 8px;
  position: fixed;
  right: -38px;
  bottom: 40px;
  z-index: 100;
  opacity: 0;
  transition: all 0.5s ease 0s;
}

#rightside #rightside-config-hide {
  transform: translate(42px, 0);
}

#rightside #rightside-config-hide {
  transition: transform 0.4s ease 0s;
  transform: translate(35px, 0);
}

#rightside > div > a:hover,
#rightside > div > button {
  transition: 0.3s;
}

#rightside > div > a,
#rightside > div > button {
  margin-bottom: 8px;
  transition: 0.3s;
}

#rightside > div > a,
#rightside > div > button {
  display: block;
  margin-bottom: 2px;
  width: 30px;
  height: 30px;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  text-align: center;
  font-size: 16px;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  appearance: button;
}

button {
  padding: 0;
  outline: 0;
  border: none;
  background: 0 0;
  cursor: pointer;
}

button,
select {
  text-transform: none;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

#rightside #mobile-toc-button {
  display: none;
}


